<h2>Edit Post</h2>
<%= form_with model: @post do |form| %>

    <%= form.label :name %>
    <%= form.text_field :name %>

    <%= form.label :text %>
    <%= form.text_field :text %>

    <br>

    <%= form.submit 'Edit Post' %>
    <% end %>

<br>
    <h4><%= link_to 'Back To All Posts', posts_path %></h4>